---
layout: base.liquid
title: 爱很美好，值得去寻找。
description: 爱很美好，值得去寻找。
---

<section class="layout-wrapper">
	<div class="container-lg">
		<h1 class="page-title">爱很美好，值得去寻找。</h1>
	</div>
	<div class="container-lg media-and-text wide-left">
		{% image "woman-in-sun.jpg", "woman in the sun", "media" %}
		<div class="text">
			<p>没错。爱是一件非常美好的事，绝对值得去寻找。</p>
            <p>所以也许下一个问题是……</p>
            <p class="callout">在哪里能够找到爱？</p>
            <p>在男朋友/女朋友眼里？在父母的话语里？在朋友的陪伴中？</p>
            <p>我们在他们身上可以一窥爱的存在，以及爱治愈、激励、使人改变的神奇力量。</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-right">
		{% image "standing-against-sunrise.jpg", "standing by the ocean", "media" %}
		<div class="text">
		    <p class="callout">但事实是，有一种爱比我们看到的以上种种，更伟大、更强烈。</p>
            <p>有一种爱… 是以爱报恨的爱。是能够完全掩盖和修复裂痕，使两人的关系比以前更牢固的爱。</p>
            <p>是给人信心的爱，是即使压力重重，也不可动摇的爱。</p>
            <p><strong>你经历过这样的爱吗？</strong></p>
            <p>这就是上帝爱我们的方式。</p>
        </div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-right">
		{% image "mountain-lake.jpg", "mountain lake", "media" %}
		<div class="text">
		    <p>在耶稣里，上帝向那些被遗弃的、那些被社会遗忘的人显示了他的爱。他爱那些有钱有势却精神贫瘠的人。他爱那些出身低微的渔民，以至于他们都成了他的门徒。</p>
            <p class="callout">他如此爱那些人，也如此爱你。</p>
            <p>上帝的爱是这样的：</p>
        </div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-md">
		<blockquote>
			“不是我们爱上帝，而是上帝爱我们，并且差遣祂儿子为我们的罪作了赎罪祭，这就是爱。<br><br>
            亲爱的弟兄姊妹，上帝既然这样爱我们，我们也应该彼此相爱。从来没有人见过上帝，如果我们彼此相爱，上帝就住在我们里面，祂的爱就在我们里面得到成全。”
			<cite>——约翰一书4:10-12</cite>
		</blockquote>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-right">
		<div class="media">
			{% image "woman-light-heart.jpg", "woman with heart of light", "image-wrapper" %}
			{% image "walking-against-sunset.jpg", "sunset walk", "image-wrapper" %}
		</div>
		<div class="text">
			<p>你是不是对爱始终寻寻觅觅？始终渴望找到一种比父母或伴侣更深、更真的爱？--这些话里揭示的那种爱，就是你一直寻找的那种了。</p>
            <p>你心中所渴望的一切，你一直在寻找的一切，都可以在耶稣对你的爱里找到。</p>
            <p>因为爱你，耶稣愿意为你而死。这样的爱，你想了解吗？</p>
            <p class="callout">请查看“下一步”了解更多。</p>
		</div>
	</div>
</section>

{% include 'form' %}
{% include 'popup' %}
