<footer class="layout-wrapper">
	<div class="container-md">
		<!-- Logo -->
		<div class="logo-wrapper">
			<img class="logo" src="/assets/img/cn-logo.svg" alt="logo" />
		</div>
		<p>
			千疑千寻愿与你一同寻找生活中各种困惑的答案！在这里无论何时、何人都可以放心探讨有关人生意义、人生价值这些心灵层面话题，一起寻找答案。在这里我们也可以自由讨论信仰、宗教、上帝相关的话题，探索各样观点，为各种问题提供解答
		</p>
		<p class="copyright">版权 2022</p>
	</div>
</footer>