<section class="layout-wrapper">
	<div class="container-lg">
		<h2>这个故事和你有什么相关？</h2>
	</div>
</section>
<section class="layout-wrapper">
<div class="container-lg media-and-text wide-left">
	{% image "mountain-sunrise.jpg", "mountain sunrise", "media" %}
	<div class="text">
		<p class="callout">上帝爱你！</p>
		<p>圣经说：“因为上帝爱世人，甚至将祂独一的儿子赐给他们，叫一切信祂的人不致灭亡，反得永生”</p>
		<p>问题是…</p>
		<p>我们所有人都做过、说过或想到过错误的事情。 这就是所谓的罪，我们的罪使我们与上帝隔绝。</p>
		<p>圣经说：“因为世人都犯了罪，亏欠上帝的荣耀。”上帝是完美的，是圣洁的，而我们的罪将我们与上帝永远的隔绝了。圣经还说：“罪的工价乃是死”。</p>
		<p>好消息是在大约2000多年以前，上帝差他的独生儿子耶稣来为我们的罪偿付死亡的代价。</p>
	</div>
</div>
</section>
<section class="layout-wrapper">
<div class="container-lg">
	<p>耶稣是上帝的独一儿子。他一生没有犯过罪，他牺牲自己的生命，被钉死在十字架上来饶恕我们人的罪。“惟有基督在我们还作罪人的时候为我们死，上帝的爱就在此向我们显明了。”</p>
	<p>耶稣从死里复活后与上帝同在天堂里。祂也应许我们跟他同享永生这个礼物 -- 如果我们接受祂做我们生命的救主，我们就可以的永生。</p>
	<p>耶稣说：“我就是道路、真理、生命；若不藉着我，没有人能到父那里去。”</p>
	<p>上帝爱你，并想与你有一个亲密的关系。“凡接待他的，就是信他名的人，他就赐他们权柄作上帝的儿女。” 你可以求耶稣原谅你的罪，让他做你生命的主和救主。</p>
	<p class="callout">如果你想要接受耶稣做你的救主而且从罪中悔改，你可以这样祷告：</p>
	<p>”主耶稣，我相信你是上帝 的儿子。谢谢你 为我的罪死在十字架上。请你原谅我的罪，给我永生这个礼物。我邀请你进入我的生命和我的心里做我的救赎主。我要一直服侍你。“</p>
</div>
</section>

<section class="layout-wrapper">
	<div class="container-md form">
		<p>如果你想跟你所在区域的人取得联系，加入到基督信仰社区，请填写此表单：</p>
		
		<div id="form-wrapper">
			<iframe id="iframe" ></iframe>
		</div>
		<!-- <button id="get-connected">点击这里和我们取得联系</button> -->
	</div>
</section>