<section class="layout-wrapper">
	<div class="container-md form">
		<p>如果你想跟你所在区域的人取得联系，加入到基督信仰社区，请填写此表单：</p>
		
		<div id="form-wrapper">
			<iframe id="iframe" ></iframe>
		</div>
		<!-- <button id="get-connected">点击这里和我们取得联系</button> -->
	</div>
</section>