<section class="layout-wrapper">
	<div class="container-lg">
		<div class="we-chat">
			<div class="qr-code-text">
				<h2>下一步</h2>
				<p>你知道吗？除了你之外，还有很多人也在跟你探索着同样的问题。快来加入到微信社区一起探索吧！</p>
			</div>
			<div class="qr-code-links">
				<a href="https://weixin.qq.com/r/Ujvu9l3E0ACvrRmV925A">
					{% image "wechat-qr.jpg", "https://weixin.qq.com/r/Ujvu9l3E0ACvrRmV925A" %}
				</a>
			</div>
		</div>
	</div>
</section>