.we-chat {
	margin-top: 1.25em;
	border-radius: 0.75em;
	padding: var(--space-md);
	background: var(--color-light-gray);
	@include md-and-up {
		display: flex;
		align-items: center;
	}
}

.qr-code-text {
	@include md-and-up {
		width: 50%;
		flex-grow: 0;
	}
}
.qr-code-links {
	display: flex;

	@include md-and-up {
		width: 50%;
		flex-grow: 1;
	}

	a {
		max-width: 18em;
		width: 50%;
		flex-grow: 1;
		background: #fff;
		border-radius: 0.75em;
		text-align: center;
		font-size: 0.8rem;
		opacity: 0.8;
		// added for single QR code
		margin: 0 auto;
		&:hover {
			opacity: 1;
		}
	}
	a + a {
		margin-left: var(--space-sm);
	}
	.link-title {
		margin: 0 var(--space-sm) var(--space-sm) var(--space-sm);
		font-weight: 800;
	}
	img {
		background: #fff;
		border-radius: 0.5rem;
	}
}

.form {
	overflow-x: hidden;
	text-align: center;
	iframe {
		width: 100%;
		min-height: 1150px;

		@include md-and-up {
			min-height: 900px;
		}
	}
}
